<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="../assets/css/style.css">
  <title>Document</title>
</head>
<body>
  <button type="button" class="bt bt-size-md bt-primary isIcon">
    <svg class="icoSvg col_lightgray" role="img" aria-hidden="true" focusable="false"><use href="../assets/images/sp_icon.svg#ico_happy"></use></svg>
    버튼명
  </button>
  <button type="button" class="bt bt-size-md bt-outline isIcon">버튼명</button>
  <button type="button" class="bt bt-size-md bt-fill isIcon">버튼명</button>  
  <button type="button" class="bt bt-size-md bt-fillTonal isIcon">버튼명</button>  
  <button type="button" class="bt bt-size-md bt-fillOutlineTonal isIcon">버튼명</button>  
  <button type="button" class="bt bt-size-md bt-ghost isIcon">버튼명</button>  

  <p class="display-lg">가나다라마바사12345ABCDE!@#$</p>
  <p class="display-md">가나다라마바사12345ABCDE!@#$</p>
  <p class="display-sm">가나다라마바사12345ABCDE!@#$</p>
  
  <p class="heading-lg">가나다라마바사12345ABCDE!@#$</p>
  <p class="heading-md">가나다라마바사12345ABCDE!@#$</p>
  <p class="heading-sm">가나다라마바사12345ABCDE!@#$</p>

  <p class="body-lg">가나다라마바사12345ABCDE!@#$</p>
  <p class="body-md">가나다라마바사12345ABCDE!@#$</p>
  <p class="body-sm">가나다라마바사12345ABCDE!@#$</p>

  <p class="caption-md">가나다라마바사12345ABCDE!@#$</p>
  <p class="caption-sm">가나다라마바사12345ABCDE!@#$</p>

  <p class="test2">가다라마</p>
</body>


</html>