<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="../assets/css/style.css">
  <title>Document</title>
</head>
<body>
  <button type="button" class="bt bt-size-md bt-primary isIcon">버튼명<svg class="icon"><use href="https://yona.diquest.com/UI-UX/2022-OKMS/files/pub/images/icon/ico_file_white.svg"></use></svg></button>
  <button type="button" class="bt bt-size-md bt-primary isIcon">버튼명<svg class="icon"><use href="../assets/images/sp_icon.svg#ico_close"></use></svg></button>
  <button type="button" class="bt bt-size-md bt-primary isIcon">버튼명<svg class="icon"><use href="../assets/images/sp_icon.svg#ico_close"></use></svg></button>
</body>
</html>