<!DOCTYPE html>
<html lang="en" data-theme="dark">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="../assets/css/style.css">
  <title>Document</title>
</head>
<body>
  <div class="typo-display-lg">가나다라마바사</div>
  <div class="typo-body-lg">typo-body-lg 가나다라마바사</div>
  <div class="typo-caption-lg">typo-body-lg 가나다라마바사</div> 

  <div class="btn-primary btn-size-lg">버튼테스트</div>
  <div class="btn-outline btn-size-lg">버튼테스트</div>
  <div class="btn-fill btn-size-lg">버튼테스트</div>
</body>
</html>