@charset "UTF-8";
:root {
  --font-family:pretendard;
  --base-color-white:#ffffff;
  --base-color-black:#000000;
  --body-bg-color: var(--base-color-white);
  --border-color-light: #DBDBDB;
  --border-color-defalut: #DBDBDB;
  --base-color-gray-10:#FAFAFA;
  --base-color-gray-20:#F5F5F5;
  --base-color-gray-30:#F2F2F2;
  --base-color-gray-40:#EDEDED;
  --base-color-gray-50:#E8E8E8;
  --base-color-gray-60:#DBDBDB;
  --base-color-gray-70:#CBCBCB;
  --base-color-gray-80:#BFBFBF;
  --base-color-gray-90:#ADADAD;
  --base-color-gray-100:#999999;
  --base-color-gray-200:#858585;
  --base-color-gray-300:#737373;
  --base-color-gray-400:#636363;
  --base-color-gray-500:#545454;
  --base-color-gray-600:#484848;
  --base-color-gray-700:#333333;
  --base-color-gray-800:#272727;
  --base-color-gray-900:#1A1A1A;
  --base-color-primary-50:#E8F3FF;
  --base-color-primary-100:#C9E2FF;
  --base-color-primary-200:#90C2FF;
  --base-color-primary-300:#64A8FF;
  --base-color-primary-400:#4593FC;
  --base-color-primary-500:#3182F6;
  --base-color-primary-600:#2272EB;
  --base-color-primary-700:#1B64DA;
  --base-color-primary-800:#1957C2;
  --base-color-primary-900:#194AA6;
  --text-color-100: var(--base-color-gray-900);
  --text-color-200: var(--base-color-gray-800);
  --text-color-300: var(--base-color-gray-700);
  --text-color-400: var(--base-color-gray-600);
  --text-color-500: var(--base-color-gray-500);
  --text-color-600: var(--base-color-gray-400);
  --text-color-700: var(--base-color-gray-300);
  --text-color-800: var(--base-color-gray-200);
  --text-color-900: var(--base-color-gray-100);
}

body, button, dd, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, input, legend, li, ol, p, select, table, td, textarea, th, ul {
  margin: 0;
  padding: 0;
}

body, button, input, select, table, textarea {
  font-size: var(--font-size-root);
  line-height: 170%;
  color: #4B4B4B;
  font-weight: 400;
  font-family: var(--font-family), -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Malgun Gothic", "맑은 고딕", Dotum, "돋움", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji";
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  line-height: inherit;
}

textarea {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background-color: transparent;
  border: 0;
  word-break: keep-all;
  word-wrap: break-word;
}

button, input {
  border-radius: 0;
  border: 0;
}

button {
  background-color: transparent;
}

button:focus {
  outline: none;
}

button:focus-visible {
  outline: 3px solid #BFDEFF;
  border-radius: 4px;
}

fieldset, img {
  border: 0;
}

img {
  max-width: 100%;
  vertical-align: top;
}

ol, ul {
  list-style: none;
}

address, em {
  font-style: normal;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

iframe {
  overflow: hidden;
  margin: 0;
  border: 0;
  padding: 0;
  vertical-align: top;
}

mark {
  background-color: transparent;
}

i {
  font-style: normal;
}

span, a, strong {
  display: inline-block;
}

table {
  border-spacing: 0px;
  border-collapse: collapse;
}

:root {
  overflow-wrap: break-word;
}

/* scrollBar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(202, 202, 202, 0.5);
  /* border-radius: 5px; */
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(75, 75, 75, 0.5);
}

::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {
  display: none;
}

::-webkit-scrollbar:vertical {
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
}

main::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

body::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

/* input */
[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

input::-ms-clear,
input::-ms-reveal {
  display: none;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
  display: none;
}

.skip {
  width: 1px;
  height: 1px;
  font-size: 0;
  line-height: 0;
  overflow: hidden;
  visibility: hidden;
  position: absolute;
  left: -9999px;
}

h1, h2 {
  line-height: 130%;
}

@font-face {
  font-family: "Pretendard";
  src: local("Pretendard"), url("../font/Pretendard-Light.woff2") format("woff2"), url("../font/Pretendard-Light.woff") format("woff");
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  src: local("Pretendard"), url("../font/Pretendard-Regular.woff2") format("woff2"), url("../font/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  src: local("Pretendard"), url("../font/Pretendard-Medium.woff2") format("woff2"), url("../font/Pretendard-Medium.woff") format("woff");
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  src: local("Pretendard"), url("../font/Pretendard-Bold.woff2") format("woff2"), url("../font/Pretendard-Bold.woff") format("woff");
  font-weight: 700;
  font-display: swap;
}
:root {
  --btn-radius-defalut:4px;
  --btn-size-lg: 40px;
  --btn-size-md: 36px;
  --btn-primary-border-color: var(--base-color-primary-500);
  --btn-primary-text-color: var(--base-color-white);
  --btn-primary-bg-color: var(--base-color-primary-500);
  --btn-primary-hover-bg-color: #1571f5;
  --btn-outline-border-color: var(--border-color-defalut);
  --btn-outline-text-color: var(--text-color-300);
  --btn-outline-bg-color: var(--base-color-white);
  --btn-outline-hover-bg-color: #f2f2f2;
  --btn-fill-border-color: var(--base-color-gray-30);
  --btn-fill-text-color: var(--text-color-300);
  --btn-fill-bg-color: var(--base-color-gray-30);
  --btn-fill-hover-bg-color: #e6e6e6;
}

[class*=btn-] {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border: 0;
  border-radius: var(--btn-radius-defalut);
  cursor: pointer;
}

.btn-size-lg {
  padding: 0 16px;
  height: var(--btn-size-lg);
  line-height: var(--btn-size-lg);
  font-size: var(--font-size-body-lg);
  font-weight: var(--font-weight-medium);
}

.btn-size-md {
  padding: 0 12px;
  height: var(--btn-size-md);
  line-height: var(--btn-size-md);
  font-size: var(--font-size-body-md);
}

.btn-primary {
  color: var(--btn-primary-text-color);
  background-color: var(--btn-primary-bg-color);
  border: 1px solid var(--btn-primary-border-color);
}
.btn-primary:hover {
  background-color: var(--btn-primary-hover-bg-color);
}

.btn-outline {
  color: var(--btn-outline-text-color);
  background-color: var(--btn-outline-bg-color);
  border: 1px solid var(--btn-outline-border-color);
}
.btn-outline:hover {
  background-color: var(--btn-outline-hover-bg-color);
}

.btn-fill {
  color: var(--btn-fill-text-color);
  background-color: var(--btn-fill-bg-color);
  border: 1px solid var(--btn-fill-border-color);
}
.btn-fill:hover {
  background-color: var(--btn-fill-hover-bg-color);
}

/*
  [Variables]
*/
:root {
  --font-size-root: 16px;
  --font-size-display-lg: 40px;
  --font-size-display-md: 35px;
  --font-size-display-sm: 32px;
  --font-size-heading-lg: 26px;
  --font-size-heading-md: 22px;
  --font-size-heading-sm: 19px;
  --font-size-body-lg: 17px;
  --font-size-body-md: 16px;
  --font-size-body-sm: 15px;
  --font-size-caption-lg: 14px;
  --font-size-caption-md: 13px;
  --font-size-caption-sm: 12px;
  --line-height-display-lg: 52px;
  --line-height-display-defalut: 46px;
  --line-height-display-sm: 42px;
  --line-height-heading-lg: 34px;
  --line-height-heading-defalut: 29px;
  --line-height-heading-sm: 25px;
  --line-height-body-lg: 27px;
  --line-height-body-defalut: 26px;
  --line-height-body-sm: 24px;
  --line-height-caption-lg: 21px;
  --line-height-caption-defalut: 20px;
  --line-height-caption-sm: 18px;
  --font-weight-black: 900;
  --font-weight-extrabold: 800;
  --font-weight-bold: 700;
  --font-weight-semibold: 600;
  --font-weight-medium: 500;
  --font-weight-regular: 400;
  --font-weight-light: 300;
}

/*
  [Mixin]
*/
/* 
  [Utility class]
*/
.fs-display-lg {
  font-size: var(--font-size-display-lg);
}

.fs-display-md {
  font-size: var(--font-size-display-md);
}

.fs-display-sm {
  font-size: var(--font-size-display-sm);
}

.fs-heading-lg {
  font-size: var(--font-size-heading-lg);
}

.fs-heading-md {
  font-size: var(--font-size-heading-md);
}

.fs-heading-sm {
  font-size: var(--font-size-heading-sm);
}

.fs-body-lg {
  font-size: var(--font-size-body-lg);
}

.fs-body-md {
  font-size: var(--font-size-body-md);
}

.fs-body-sm {
  font-size: var(--font-size-body-sm);
}

.fs-caption-lg {
  font-size: var(--font-size-caption-lg);
}

.fs-caption-md {
  font-size: var(--font-size-caption-md);
}

.fs-caption-sm {
  font-size: var(--font-size-caption-sm);
}

.fw-black {
  font-weight: var(--font-weight-black);
}

.fw-extrabold {
  font-weight: var(--font-weight-extrabold);
}

.fw-bold {
  font-weight: var(--font-weight-bold);
}

.fw-semibold {
  font-weight: var(--font-weight-semibold);
}

.fw-medium {
  font-weight: var(--font-weight-medium);
}

.fw-regular {
  font-weight: var(--font-weight-regular);
}

.fw-light {
  font-weight: var(--font-weight-light);
}

.txt-color-100 {
  color: var(--text-color-100);
}

.txt-color-200 {
  color: var(--text-color-200);
}

.txt-color-300 {
  color: var(--text-color-300);
}

.txt-color-400 {
  color: var(--text-color-400);
}

.txt-color-500 {
  color: var(--text-color-500);
}

.txt-color-600 {
  color: var(--text-color-600);
}

.txt-color-700 {
  color: var(--text-color-700);
}

.txt-color-800 {
  color: var(--text-color-800);
}

.txt-color-900 {
  color: var(--text-color-900);
}

/* 
  [Template class]
*/
.typo-display-lg {
  color: var(--text-color-100);
  font-size: var(--font-size-display-lg);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-display-lg);
}

.typo-display-md {
  color: var(--text-color-100);
  font-size: var(--font-size-display-md);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-display-md);
}

.typo-display-sm {
  color: var(--text-color-100);
  font-size: var(--font-size-display-sm);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-display-sm);
}

.typo-heading-lg {
  color: var(--text-color-100);
  font-size: var(--font-size-heading-lg);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-heading-lg);
}

.typo-heading-md {
  color: var(--text-color-100);
  font-size: var(--font-size-heading-md);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-heading-md);
}

.typo-heading-sm {
  color: var(--text-color-100);
  font-size: var(--font-size-heading-sm);
  font-weight: var(--font-weight-semibold);
  line-height: var(--line-height-heading-sm);
}

.typo-body-lg {
  color: var(--text-color-300);
  font-size: var(--font-size-body-lg);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-body-lg);
}

.typo-body-md {
  color: var(--text-color-300);
  font-size: var(--font-size-body-md);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-body-md);
}

.typo-body-sm {
  color: var(--text-color-300);
  font-size: var(--font-size-body-sm);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-body-sm);
}

.typo-caption-lg {
  color: var(--text-color-800);
  font-size: var(--font-size-caption-lg);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-caption-lg);
}

.typo-caption-md {
  color: var(--text-color-800);
  font-size: var(--font-size-caption-md);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-caption-md);
}

.typo-caption-sm {
  color: var(--text-color-800);
  font-size: var(--font-size-caption-sm);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-caption-sm);
}

body {
  background-color: var(--body-bg-color);
}/*# sourceMappingURL=style.css.map */