
[class*="bt-"]{
  display:inline-flex;
  border:0;
  border-radius:$bt-radius-defalut;
  cursor:pointer;
}

.bt-size-xlg{ 
  padding:0 20px; 
  height:$bt-size-xlg;
  line-height:$bt-size-xlg;
  font-size:15px; 
  font-weight:500;
}
.bt-size-lg{ 
  padding:0 16px; 
  height:$bt-size-lg;
  line-height:$bt-size-lg;
  font-size:15px;
  font-weight:500;
}
.bt-size-md{ 
  padding:0 16px; 
  height:$bt-size-md;
  line-height:$bt-size-md;
  font-size:14px;
  font-weight:500;
}
.bt-size-sm{ 
  padding:0 12px; 
  height:$bt-size-sm;
  line-height:$bt-size-sm;
  font-size:14px;
  font-weight:500;
}
.bt-size-xsm{ 
  padding:0 6px; 
  height:$bt-size-xsm;
  line-height:$bt-size-xsm;
  font-size:13px;
  font-weight:500;
}

.bt-primary{
  color:$bt-primary-text-color;
  background-color:$bt-primary-bg-color;
  border:1px solid $bt-primary-border-color;
}
.bt-outline{
  color:$bt-outline-text-color;
  background-color:$bt-outline-bg-color;
  border:1px solid $bt-outline-border-color;
}
.bt-fill{
  color:$bt-fill-text-color;
  background-color:$bt-fill-bg-color;
  border:1px solid $bt-fill-border-color;
}
.bt-outlineTonal{
  color:$bt-outlineTonal-text-color;
  background-color:$bt-outlineTonal-bg-color;
  border:1px solid $bt-outlineTonal-border-color;
}
.bt-fillOutlineTonal{
  color:$bt-fillOutlineTonal-text-color;
  background-color:$bt-fillOutlineTonal-bg-color;
  border:1px solid $bt-fillOutlineTonal-border-color;
}
.bt-fillTonal{
  color:$bt-fillTonal-text-color;
  background-color:$bt-fillTonal-bg-color;
  border:1px solid $bt-fillTonal-border-color;
}
.bt-ghost{
  color:$bt-ghost-text-color;
  background-color:$bt-ghost-bg-color;
  border:1px solid $bt-ghost-border-color;
}